<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Turkce karakter -->
    <meta charset="utf-8">

    <!-- responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- seo -->
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>

</head>

<body>
<!-- start codes -->

<div class="container">
    <div class="row">
        <h1 class="text-center text-primary text-uppercase">Computer</h1>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th th:text="#{computer.id}"></th>
                <th th:text="#{computer.name}"></th>
                <th th:text="#{computer.price}"></th>
                <th th:text="#{computer.update}"></th>
                <th th:text="#{computer.show}"></th>
                <th th:text="#{computer.delete}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="computer:${computer_key}">
                <td th:text="${computer.id}"></td>
                <td th:text="${computer.computerName}"></td>
                <td th:text="${computer.computerPrice}"></td>

                <td><i class="fa-solid fa-wrench text-primary"></i></td>
                <td><i class="fa-regular fa-image text-warning"></i></td>
                <td><i class="fa-solid fa-trash text-danger"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- ends codes -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>